
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

  html,body{
    height: 100%;
  }
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }
main{
  height: 100%;
  width: 100%;
  float: left;
  



}
body {
  font-family: "Century Gothic";
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: rgb(255, 255, 255); }

   .section-pricing {
    
    background-image: linear-gradient(to right bottom, #1f304a86,#1f304a86),url("assets/images/WEB-04.jpg");
    background-position: center;
    height: 100%;
  background-size: cover;
  float: left;
  width: 100%;
  
 }

 .u-margin-bottom-small {
    margin-bottom: 1.5rem !important; }
  .heading-tertiary {
    margin-top: 11%;
   
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase; }
        
 .feature-box {
   
    z-index: 50;
    float: left;
    position: relative; 
    left : 42%;
    width: 57%;
     height: 100%;
      border: 1px solid #f5f5f5;
      background-color: 	rgb(245,245,245,0.5);
      border-style: hidden
 }           
      
 .feature__text-box {
  transform: translate(-50%, 0%);
   display:block;
    position: absolute;
    padding-top: 25px;
    left: 50%;
    text-align: center; }
    .feature__text-box-primar{
        color: #851F78;
        text-transform: uppercase;
        backface-visibility: hidden;
       
          display: block;
          font-size: 2.7rem;
          font-weight: 400;
    }
    @media only screen and (max-width: 37.5em) {
        .feature__text-box-primar {
         
          font-family: 5rem; } }
        .feature__text-box-secondary {
            color: #1F852E;
      display: block;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      }
    

      .svg{
        
        max-width: 30% ;
        
       }
       .icon { text-align: center;}
      
    
   .row {
    max-width: 114rem;
    margin: 130px auto; }
    .row:not(:last-child) {
      margin-bottom: 3.5rem; }
      .row .col-4l-of-4 {
                margin-left: 5.5rem;
                width: calc((100% - 1 * 6rem) / 4); }
      @media only screen and (max-width: 56.25em) {
        .row:not(:last-child) {
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row {
        max-width: 90rem;
        padding: 0 2rem; } }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      
      .row [class^="col-"]:not(:last-child) {
        margin-right: 3rem; }
        @media only screen and (max-width: 56.25em) {
          .row [class^="col-"]:not(:last-child) {
            margin-right: 9;
            margin-bottom: 15rem;
           } }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"] {
          width: 100% !important; } }
   
          .row .col-1-of-2 {
            width: calc((100% - 6rem) / 2); }
          .row .col-1-of-3 {
            width: calc((100% - 2 * 6rem) / 3); }
            .row .col-10-of-3 {
              width: calc((100% - 0.3 * 6rem) / 3); }
          .row .col-2-of-3 {
            width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
          .row .col-1-of-4 {
            width: calc((100% - 3 * 6rem) / 4); }
            .row .col-4-of-4 {
              width: calc((100% - 1 * 6rem) / 4); }
              
          .row .col-2-of-4 {
            width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
          .row .col-3-of-4 {
            width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
        
  
    
            .u-line { 
              border-bottom: 2px solid ;
               padding-bottom: 3px
            
            }
    .u-margin-bottom-small { 
      margin-bottom: 1.5rem !important; }
    .heading-tertiary {
     text-align: center;
      color: #3775B7;
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 0.1rem; }
      .pricing-box__text{
        color: rgb(0, 0, 0);
        margin-top: 1%;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .pricing-box__detail{
        color: rgb(0, 0, 0);
       text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
      }
    .pricing-box {
      width: 100%; height: 55vh;
   
     
      background-color: #FFFCFC;
      font-size: 1.5rem;
      padding: 2.5rem;
      
      border-radius: 10px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
     }
     .pricing-box__secondry{
      
      color: #3775B7;
      display: block;
      font-size: 1rem;
      font-weight: 900;
      

     }
    
     .pricing-box__price{
      
      text-align: center;
      color: #EF8890;
      display: block;
      font-size: 1.3rem;
      font-weight: bold;

      
     }
.title{
  max-width: 85%;
margin: auto;
}
.m{margin: 0rem;}
.f{float: left;
  width: 20px;
  margin-top: -5px;
}
.mb{
  margin-bottom: 20%;
}
.fprice{
  color: black;
  font-weight: 400;
  
}
.left{
  text-align: left;
}button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
.container-contact100-form-btn { 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
 
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 15px;
  height: 45px;
  background-color: transparent;
  border-radius: 31px;
  font-weight: bold;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: #851f78;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover:before {
  background-color: #eb40d4;
  width: calc(100% + 20px);
}

@media only screen and (max-width: 1024px)and ( max-height :1370px) {
  .pricing-box{
    height: 40vh;
  }

  .feature-box {
   left: 35%;

    width: 65%;
     
 }    
 .row {
  max-width: 70rem;
  margin-top:130px ; 
flex-wrap: nowrap;
margin: 130px -1rem;}

 
  .row .col-4l-of-4 {
    margin-left: 0rem;
    width: calc((100% - 1 * 6rem) / 4); }
    .pricing-box__text{
      
      margin-top: 0.8%;
      font-size: 1.1rem;
    
    }
    .heading-tertiary{ 
      margin-top: 8%;
    }
    .row:not(:last-child){
      margin-bottom: 5rem;
    }
} 
@media only screen and (max-width: 1024px) and (max-height: 1024px) {
  .pricing-box{
    height: 30vh;
  }

  .feature-box {
   left: 35%;

    width: 65%;
     
 }    
 .row {
  max-width: 70rem;
  margin-top:130px ; 
flex-wrap: nowrap;
margin: 130px -1rem;}

 
  .row .col-4l-of-4 {
    margin-left: 0rem;
    width: calc((100% - 1 * 6rem) / 4); }
    .pricing-box__text{
      
      margin-top: 0.8%;
      font-size: 1.1rem;
    
    }
    .heading-tertiary{ 
      margin-top: 8%;
    }
    .row:not(:last-child){
      margin-bottom: -9rem;
    }
} 


@media only screen and (max-width: 480px)  and ( max-height: 840px ) {
  .pricing-box{
    height: 50vh;
  }

  .feature-box {
   left: 0%;

    width: 100%;
     
 }    
 .row {
  max-width: 54rem;
  margin-top:130px ; 
flex-wrap: nowrap;
margin: 130px -1rem;}

 
  .row .col-4l-of-4 {
    margin-left: 0rem;
    width: calc((100% - 1 * 6rem) / 4); }
    .pricing-box__text{
      
      margin-top: 0.8%;
      font-size: 1rem;
    
    }
    .heading-tertiary{ 
      margin-top: 8%;
    }
    .row:not(:last-child){
      margin-bottom: -9rem;
    }
}






@media only screen and (max-width: 480px)  and ( max-height: 840px ) {
  .pricing-box{
    height: 50vh;
  }

  .feature-box {
   left: 0%;

    width: 100%;
     
 }    
 .row {
  max-width: 54rem;
  margin-top:130px ; 
flex-wrap: nowrap;
margin: 130px -1rem;}

 
  .row .col-4l-of-4 {
    margin-left: 0rem;
    width: calc((100% - 1 * 6rem) / 4); }
    .pricing-box__text{
      
      margin-top: 0.8%;
      font-size: 1rem;
    
    }
    .heading-tertiary{ 
      margin-top: 8%;
    }
    .row:not(:last-child){
      margin-bottom: -9rem;
    }
}
@media only screen and (max-width: 400px) and ( max-height: 813px )  {
  .pa{
    padding: 1rem;
  }
      .pricing-box__text{
        
        margin-top: 0.8%;
        font-size: 0.9rem;
      
      }
      .heading-tertiary{ 
        margin-top: 8%;
      
  }
  .pricing-box{
    height: 42vh;
  }


  .feature-box {
   left: 0%;

    width: 100%;
     
 }    
 .row {
  max-width: 54rem;
  margin-top:130px ; 
flex-wrap: nowrap;
margin: 130px -1rem;}

 
  .row .col-4l-of-4 {
    margin-left: 0rem;
    width: calc((100% - 1 * 6rem) / 4); }
    .pricing-box__text{
      
      margin-top: 0.8%;
      font-size: 1rem;
    
    }
    .heading-tertiary{ 
      margin-top: 8%;
    }
    .row:not(:last-child){
      margin-bottom: -9rem;
    }
}
  
@media only screen and (max-width: 400px) and ( max-height: 700px ) {
.pa{
  padding: 1rem;
}
    .pricing-box__text{
      
      margin-top: 0.8%;
      font-size: 0.9rem;
    
    }
    .heading-tertiary{ 
      margin-top: 8%;
    
}
.pricing-box{
  height: 45vh;
}}

