*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: "Century Gothic";
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: rgb(255, 255, 255); }

   .section-services {
   
   float: left;
   background-image: url("assets/images/WEB-05.jpg");
   background-position: center;

   background-size: cover;
   width: 100%;
  
 }

       
 .feature__text-box {
   margin-top: 10rem;
    position: relative;
    top: 2%;
    text-align: center; 
  margin-bottom: -3rem; }
    .feature__text-box-primar{
        color: #F5B131;
        text-transform: uppercase;
        backface-visibility: hidden;
       
          display: block;
          font-size: 5.7rem;
          font-weight: 400;
    }

    .svg{
      max-width: 55% ;
      margin-bottom: -2rem;
      
     }
     @media only screen and (max-width: 56.25em) {
       .section-services{
         height: 100%;
       }
      .svg {
        margin-bottom:-11rem ;
       }
      .icon{
        margin-top: -13rem
      } }
     .icon { text-align: center;}


     .services-box {
      width: 100%; min-height: 50vh;
   height: auto;
     margin-top: 1.5rem;
      background-color: rgba(133, 31, 119, 0.212);
      font-size: 1.5rem;
      padding: 2.5rem;
      
      border-radius: 10px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
     }
     .services-box__text{
      color: rgb(255, 255, 255);
      margin-top: 1%;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .row {
        flex-wrap: nowrap;
        max-width: 114rem;
        margin: 66px auto; }
        .row:not(:last-child) {
          margin-bottom: 3.5rem; }
          @media only screen and (max-width: 56.25em) {
            .row:not(:last-child) {
              margin-bottom: 6rem; } }
        @media only screen and (max-width: 56.25em) {
          .row {
            max-width: 90rem;
            padding: 0 2rem; } }
        .row::after {
          content: "";
          display: table;
          clear: both; }
        .row [class^="col-"] {
          float: left; }
          
          .row [class^="col-"]:not(:last-child) {
            margin-right: 3rem; }
            @media only screen and (max-width: 56.25em) {
              .row [class^="col-"]:not(:last-child) {
                margin-right: 9;
                margin-bottom: 15rem;
               } }
          @media only screen and (max-width: 56.25em) {
            .row [class^="col-"] {
              width: 100% !important; } }
                .row .col-5-of-5 {
                  width: calc((100% - 1 * 6rem) / 5 ) ; }
                  

                  button {
                    outline: none !important;
                    border: none;
                    background: transparent;
                  }
                  
                  button:hover {
                    cursor: pointer;
                  }
                  
                  iframe {
                    border: none !important;
                  }
                  .container-contact100-form-btn { 
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                   
                  }
                  
                  .contact100-form-btn {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px;
                    min-width: 10px;
                    height: 40px;
                    background-color: transparent;
                    border-radius: 31px;
                    font-weight: BOLD;
                    
                    font-size: 1rem;
                    color: #fff;
                    line-height: 1.2;
                    text-transform: uppercase;
                  
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    transition: all 0.4s;
                    position: relative;
                    z-index: 1;
                  }
                  
                  .contact100-form-btn::before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                    border-radius: 15px;
                    background-color: #851f78;
                    pointer-events: none;
                    
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    transition: all 0.4s;
                  }
                  
                  .contact100-form-btn:hover:before {
                    background-color: #eb40d4;
                    width: calc(100% + 20px);
                  }
                  
                           
                  @media only screen and (max-width: 600px) {
                    .row [class^="col-"]:not(:last-child) {
                      margin-right: 4px;
                      margin-bottom: 15rem;
                     }
                  .services-box{
                    padding: 0.7rem;
                    min-height: 25vh;
                    height: auto;
                  }
                  .contact100-form-btn{
                    height: 24px;
                  }
                  }
                  @media only screen and (max-width: 380px) {
                    .row [class^="col-"]:not(:last-child) {
                      margin-right: 4px;
                      margin-bottom: 15rem;
                     }
                  .services-box{
                    padding: 0.7rem;
                    min-height: 31vh;
                    height: auto;
                
                  }}
               
                  